* {
  margin: 0;
  padding: 0;
}

footer {
  background-color:deepskyblue;
  color: aliceblue;
  font-family: monospace;
  height: 120px;
  padding: 25px;
  border: 1px solid #eeeeee
}

.footer-logo {
  font-size: 40px;
}

.section-title {
  font-size: 10px;
  line-height: 70px;
}

li {
  list-style: none;
}

.footer-list {
  float: right;
  line-height: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer-list h5 {
  font-size: 20px;
}

.footer-right {
  text-align: center;
  line-height: 10px;
  margin-bottom: 20px;
}

.float-right h5 {
  font-size: 25px;
}

@media all and (max-width: 670px) {
  footer {
    flex-direction: column;
    margin: 0 auto;
  }
}