* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Avenir Next";
}
.container{
  width: 100px auto;
  margin: 0 auto;
  border: 0px solid;
}
.container::after{
  content: '';
  display: block;
  clear: both;
}
header{
  border: 0px solid;
  background-color: #75caf1;
  box-shadow:3px 3px 3px 3px rgba(0,0,0,0.7);
}
.logo-text{
  padding:0 0 0 20px;
  text-shadow: 10px 10px  10px rgba(0,0,0,0.7);
  font-size: 25px;
  float: left;
  margin: 10px;
  color:#fff;
}
a {
  text-decoration: none;
}
header ul li{
  border:0px solid;
  float: right;
  padding: 1px;
  margin: 15px;
  font-size: 15px;
  list-style-type: none;
  display: inline-block;
}
header ul li a{
  text-decoration: none;
  color: #fff;
  padding: 2px 2px;
  transition: 0.9s;
  margin-top: 2px;
}
header ul li a:hover{
  text-shadow: 3px 10px 5px rgb(255,255,255);
  color:black;
}